/*********************************************

    PALETTE COLORS

    This file serves as the master color palette for the Mailchimp app. Colors
    should not be defined anywhere else in the site, but instead always refer to
    a variable in this file.

*********************************************/

@white: #ffffff;
@black: #000000;

@pink: #f4bba8;
@purple: #2e307c;
@yellow: #ffd45a;
@lightblue: #a2dadd;