@import "../less/global-variables/all.less";

.cardFeaturedBackground {
    background: @yellow;
    padding: 90px 30px 30px;
}

.cardFeatured {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    max-height: 550px;
    text-decoration: none;
    background-color: transparent;
    margin: 0 auto;
    border: 5px solid @purple;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        max-height: none;
    }
}

.cardImage {
    order: 2;
    width: 60%;
    @media screen and (max-width: 800px) {
        width: 100%;
        order: 0;
        height: 54vw;
    }
}

.cardInfo {
    background: @pink;
    width: 40%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: @purple;
    border-right: 5px solid @purple;
    @media screen and (max-width: 800px) {
        border-right: none;
        width: auto;
    }
}

.cardCategory {
    color: @white;
    letter-spacing: .08334rem;
    text-transform: uppercase;
    font-size: 1rem;
    @media screen and (max-width: 800px) {
        margin-top: 0;
    }
}

.cardTitle {
    margin: 0;
    font-size: 2.5rem;
}

.cardExcerpt {
    display: block;
}

.readMore {
    font-weight: 500;
    align-self: flex-start;
    letter-spacing: .08334rem;
    background-image: @lightblue;
    background-repeat: no-repeat;
    background-position: 8px bottom;
    background-size: 100% 6px;
    text-transform: uppercase;
}

.mustRead {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
    font-size: 1.75rem;
    text-align: center;
    @media screen and (max-width: 800px) {
        text-align: left;
        font-size: 1.5rem;
    }
}

.gridCol3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: row;
    }
}

.post {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    background-image: none;
    @media screen and (max-width: 800px) {
        display: flex;
    flex-direction: row;
    width: 100%;
    }
}

.featuredThumbnail {
    position: relative;
    background: @yellow;
    @media screen and (max-width: 800px) {
        flex-shrink: 0;
        width: 30vw;
        height: 30vw;
    }
}

.postInformation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 15px;
    align-items: flex-start;
    @media screen and (max-width: 800px){
        margin-top: -3px;
        padding-top: 6px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.postCategory {
    color: #acacac;
    font-size: .66667rem;
    letter-spacing: .08334rem;
    text-transform: uppercase;
}

.postTitle {
    margin-top: 6px;
    font-size: 18px;
    text-align: left;
    line-height: 1.75rem;
    @media screen and (max-width: 800px) {
        margin-top: 6px;
    }
}